server:
  port: 8081
  servlet:
    session:
      timeout: 10m

spring:
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB

  datasource:
    url: jdbc:mysql://localhost:9981/tasks
    username: task_admin
    password: qwe123QWE!@#
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8

  mail:
    host: smtp.gmail.com
    port: 587
    username: jdy@mz.co.kr
    password: rlxd ccrg hwai kata
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    root: info
    org.springframework.web: debug
    org.springframework.security: debug
    org.hibernate.SQL: debug
    org.thymeleaf: trace
    org.springframework.boot.autoconfigure: error

tasks:
  upload:
    project-path: /app/mgmt/uploads/project
